@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --ring: 215 20.2% 65.1%;
  }

  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 13%;
    --card-foreground: 210 40% 98%;
  }
}

*, *::after, *::before{
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  transition: background-color 1s;
}
#root{
  width: 100%;
  overflow-x: hidden;
}
